body {
  margin: 0;
  padding: 0;
  background: #14495e;
}

.eyes {
  position: absolute;
  top: 15%;
  transform: translateY(-100%);
  transform: rotate(0.009turn);
  width: 88%;
  text-align: center;
}
.eye {
  width: 115px;
  height: 55px;
  border: 3px solid black;
  background: rgb(124, 121, 121);
  display: inline-block;
  margin: 68px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  
}

.ball {
  width: 40px;
  height: 40px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.shut{
  width: 300px;
  height: 160px;
  position: absolute;
  top:0%;
  left: 0%;
  transform: translate(-50%,-50%) rotate(-45degree);
  z-index : 1; 
  animation: blink 0.5s ease-in-out infinite;
}
.shut span{
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(255, 166, 0);
  border-radius: 0 0 68% 60%;
  transition: 0.4s all;
  
}
@keyframes blink{
  0%,30%{
    height: 20%;
  }
  35%,40%{
    height: 40%;
  }
  45%,50%{
    height: 60%;
  }
  60%,70%{
    height: 80%;
  }
  90%,100%{
    height: 100%;
  }
}
.eye:hover >.shut span{
  height: 100%;
}